@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;900&display=swap');

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
}

/* Variables */
:root {
    --color-primary: #512d86;
    --color-secondary: #f9d170;
    --color-bg: #f3f4f5;
    --color-text: #252525;
    --color-light: #fafafa;
    --color-success: #067973;
    --color-success-bg: #f5fffe;
    --color-error: #b71540;
    --color-error-bg: #fdeff3;
}

/* General */
body {
    background: var(--color-bg);
    font-family: "Heebo", sans-serif;
}

.form-container {
    width: 20rem;
    margin: 12rem auto 10rem;
}

/* Heading */
.heading-form {
    width: 15rem;
    line-height: 2.3rem;
}

.heading-form h1, label {
    color: var(--color-primary);
}

.heading-form h1 {
    font-size: 26pt;
    font-weight: 900;
    margin-bottom: 1.8rem;
}

/* Form input */
.email-form {
    margin-bottom: 1rem;
}

label {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: .3rem 0;
}

.input-container {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
    height: 2.8rem;
    width: 100%;
    font-size: 0;
}

input, button {
    height: 2.8rem;
    vertical-align: text-bottom;
}

input:focus, button:focus {
    border: 1px solid var(--color-primary);
}

input {
    background: var(--color-light);
    color: var(--color-text);
    box-sizing: border-box;
    padding: .5rem;
    width: 84%;
    font-size: 13pt;
}

input[type="email"]:invalid {
    box-shadow: none;
}

/* Submit button */
button {
    background: var(--color-secondary);
    width: 16%;
}

button:hover {
    filter:brightness(105%);
    cursor: pointer;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

#btn-icon {
    fill: var(--color-primary);
}

/* Message box */
#signup-popup {
    display: grid;
    grid-template-columns: 12% auto;
    border: 1px solid var(--color-error);
    background: var(--color-error-bg);
    color: var(--color-error);
    padding: .8rem;
    position: absolute;
    top: -999rem;
}

#popup-icon {
    fill: var(--color-error);
}

#signup-popup h1 {
    font-weight: 600;
}

/* Icon display */
#icon-check {
    display: none;
}