@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

/* Reset CSS style */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
}

/* Variables */
:root {
    --color-primary: #512d86;
    --color-secondary: #f9d170;
    --color-bg: #f3f4f5;
    --color-text: #252525;
    --color-light: #fafafa;
    --color-success: #067973;
    --color-success-bg: #f5fffe;
    --color-error: #b71540;
    --color-error-bg: #fdeff3;
}

/* General */
body {
    background: var(--color-bg);
    font-family: "Heebo", sans-serif;
}

.email-form {
    width: 20em;
    margin: 8em auto 0;
}

/* Heading */
.heading-form {
    width: 15em;
    line-height: 2.3em;
    margin-bottom: 1.8em;
}

.heading-form h1, label {
    color: var(--color-primary);
}

.heading-form h1 {
    font-size: 26pt;
    font-weight: 900;
}

/* Form input */
label {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: .3em 0;
}

.input-container {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
    height: 2.8rem;
    width: 100%;
    font-size: 0;
}

input, button {
    height: 2.8rem;
    vertical-align: text-bottom;
}

input:focus, button:focus {
    border: 1px solid var(--color-primary);
}

input {
    background: var(--color-light);
    color: var(--color-text);
    box-sizing: border-box;
    padding: .5em;
    width: 84%;
    font-size: 13pt;
}

input:invalid {
    box-shadow: none;
}

/* Submit button */
button {
    background: var(--color-secondary);
    width: 16%;
}

.submit-icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(40%) saturate(100%) sepia(100%) hue-rotate(210deg) brightness(85%) contrast(200%);
}