@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/* Reset CSS style */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
}

:root {
    --color-primary: #4c2982;
    --color-secondary: #f9d170;
    --color-bg: #f3f4f5;
    --color-text: #252525;
    --color-light: #f3f3f3;
    --color-success: #067973;
    --color-success-bg: #f5fffe;
    --color-error: #b71540;
    --color-error-bg: #fdeff3;
}

body {
    background: var(--color-bg);
    font-family: "Heebo", sans-serif;
}

h1, label {
    color: var(--color-primary);
}