@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

/* Reset CSS style */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
}

:root {
    --color-primary: #4c2982;
    --color-secondary: #f9d170;
    --color-bg: #f3f4f5;
    --color-text: #252525;
    --color-light: #f3f3f3;
    --color-success: #067973;
    --color-success-bg: #f5fffe;
    --color-error: #b71540;
    --color-error-bg: #fdeff3;
}

body {
    background: var(--color-bg);
    font-family: "Heebo", sans-serif;
}

header h1, label {
    color: var(--color-primary);
}

header h1 {
    font-size: 26pt;
    font-weight: 900;
}

label {
    font-weight: 600;
    text-transform: uppercase;
}

.input-container {
    box-shadow: 0 0 3px 2px rgba(0,0,0,.1);
    font-size: 0;
}

input {
    color: var(--color-text);
    font-size: 12pt;
    width: 15em;
    padding: .5rem;
}

button {
    background: var(--color-secondary);
    height: 2.5rem;
    width: 2.5rem;
}

.submit-icon {
    width: 1.5rem;
    height: 1.5rem;
}